[Desktop Entry]
Type=Application
Version=1.0
Name=Imager
Comment=Raspberry Pi Imager
Icon=${SNAP}/meta/gui/rpi-imager.png
Exec=rpi-imager
Categories=Utility
StartupNotify=false